<div class="row justify-content-lg-center g-3">
    <h1><%= title %> Contacts </h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Name</span>
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="contact Name"
            name="name" value="<%= contact.contactName %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="number">Phone Number</span>
            <input id="nmber" type="text" class="form-control" placeholder="Phone Number" aria-label="Phone number" aria-describedby="contact phone number"
            name="number" value="<%= contact.contactNumber %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="email">Email</span>
            <input id="email" type="text" class="form-control" placeholder="Email" aria-label="email" aria-describedby="contact email"
            name="email" value="<%= contact.emailAddress %>" required>
        </div>

       
        <button type="submit" class="btn btn-primary" id="updateButton"><i class="fas fa-edit fa"></i> Update</button>
        <a href="/contactlist/delete/<%= contact._id %>" class="btn btn-danger delete">
                      <i class="fas fa-trash-alt"></i> Delete</a>
        <a href="/contactlist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>              

        
        


    </form>
    
        
                     

                              

</div> 